<div class="jumbotron">
  <h1>Welcome to here:-)</h1>
  <p>Here you can see many social media and popular service's data.They are the newest by dynamic technology.You can confirm and compare them to anything you want to use.Enjoy it!</p>
  <p>
    <a class="btn btn-lg btn-primary" href="<%= google_path %>" role="button">Start! &raquo;</a>
  </p>
</div>